There are several options to access market data via API using Python. 

In this project, I used `pandas-datareader` library, that provides access to the API endpoints of various data providers through a standard interface.

In [1]:
#Import libraries
#!pip install pandas_datareader
import pandas_datareader as web
import datetime as dt
import pandas as pd

In [2]:
#import data since start='2019-01-01'
start = dt.datetime(2019,1,1)
end = dt.datetime.now()
cryptos=['BTC-USD', 'ETH-USD', 'SOL-USD','DOGE-USD', 'SHIB-USD', 'DOT-USD']
for crypto in cryptos:
    pair_split = crypto.split('-')
    data = web.DataReader(crypto, 'yahoo', start, end)
    data['Vol_Fiat'] = data['Volume'] * data['Close'] 
    data.to_csv(f'data/{pair_split[0] + pair_split[1]}_dailydata.csv')

In [5]:
#checking data
btc=pd.read_csv('data/BTCUSD_dailydata.csv')
btc.head()

,Date,High,Low,Open,Close,Volume,Adj Close,Vol_Fiat
0,2019-01-01,3850.913818,3707.231201,3746.713379,3843.520020,4.324201e+09,3843.520020,1.662015e+13
1,2019-01-02,3947.981201,3817.409424,3849.216309,3943.409424,5.244857e+09,3943.409424,2.068262e+13
2,2019-01-03,3935.685059,3826.222900,3931.048584,3836.741211,4.530215e+09,3836.741211,1.738126e+13
3,2019-01-04,3865.934570,3783.853760,3832.040039,3857.717529,4.847965e+09,3857.717529,1.870208e+13
4,2019-01-05,3904.903076,3836.900146,3851.973877,3845.194580,5.137610e+09,3845.194580,1.975511e+13

In [6]:
#importing other commodity values: Gold, S&P500, Amazon, Tesla and Crude Oil
comm_fin=['GOLD', '^GSPC', 'AMZN','TSLA', 'CL=F']

for symbol in comm_fin:
    data = web.DataReader(symbol, 'yahoo', start, end)
    data['Vol_Fiat'] = data['Volume'] * data['Close'] 
    data.to_csv(f'data/{symbol}_dailydata.csv')

In [8]:
#Checking Gold
gold=pd.read_csv('data/GOLD_dailydata.csv')
gold.head()

         Date   High    Low   Open  Close      Volume  Adj Close      Vol_Fiat
0  2019-01-02  13.69  13.05  13.64  13.10  16483400.0  12.351538  2.159325e+08
1  2019-01-03  13.34  12.81  13.30  13.00  19135900.0  12.257250  2.487667e+08
2  2019-01-04  13.17  12.66  12.89  13.09  17190100.0  12.342109  2.250184e+08
3  2019-01-07  13.29  12.89  13.26  12.92  12280400.0  12.181822  1.586628e+08
4  2019-01-08  12.81  12.20  12.77  12.34  26759600.0  11.634959  3.302135e+08